# Lets explore this dataset first
## data is courtesy of metal-archives.com

In [2]:
#packages
import pandas as pd
import numpy as np
import datetime as dt

df = pd.read_csv('Data/band_20220130.csv')

In [3]:
df.describe()

            Band        Genre                 Location  Years active
count      33859        33859                    32869         23703
unique     31132         3589                     6101          6006
top     Monolith  Black Metal  Los Angeles, California  2012-Present
freq          14         2927                     1081           665